.glowg:hover {
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow:0px 0px 30px 5px #4fe307;
-webkit-box-shadow:0px 0px 30px 5px #4fe307;
box-shadow:0px 0px 30px 5px #4fe307;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
}
.glowb:hover {
align:center
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow:0px 0px 30px 5px #1298ff;
-webkit-box-shadow:0px 0px 30px 5px #1298ff;
box-shadow:0px 0px 30px 5px #1298ff;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
}
.glowp:hover {
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow:0px 0px 30px 5px #701aff;
-webkit-box-shadow:0px 0px 30px 5px #701aff;
box-shadow:0px 0px 30px 5px #701aff;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
}
